@import 'reset.css';
* {
  z-index: inherit;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
}

.index_img, .about_img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #9b9b9b;
  z-index: -1;
}

body {
  display: grid;
  grid-template: "header" 4rem "main" auto "footer" 3rem/auto;
}

img {
  object-fit: contain;
}

a, button {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border: none;
}
a:hover, button:hover {
  cursor: pointer;
}

h1, h2 {
  height: auto;
  color: #00796b;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #009688;
}

b {
  font-weight: 700;
}

main {
  grid-area: main;
  display: grid;
  padding: 4rem 0 4rem 0;
}

.active {
  visibility: visible !important;
}

.inactive {
  visibility: hidden !important;
  position: fixed !important;
}

.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  display: grid;
  grid-template: "logo menu" 4rem/1fr 1fr;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: #00796b;
  font-size: 1.125rem;
  color: #fff;
}
.nav_logo {
  grid-area: logo;
  height: 100%;
  padding-left: 2.5%;
}
.nav_logo img {
  height: 100%;
}
.nav_menu {
  grid-area: menu;
  justify-self: end;
  display: flex;
  flex-direction: row;
  padding-right: 2.5%;
}
.nav_menu_option {
  margin: 0 0 0 1rem;
}
.nav_menu.active {
  z-index: 1;
  position: fixed;
  top: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100% - 4rem);
  width: 100%;
  font-weight: 700;
  color: #9b9b9b;
  background-color: #fff;
  padding: 0;
  animation: drop 0.5s;
}
.nav_menu.active .nav_menu_option {
  animation: appear 0.5s;
}
.nav_hamburger {
  visibility: hidden;
  grid-area: menu;
  justify-self: end;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  padding-right: 10%;
}

.copyright {
  z-index: 2;
  position: fixed;
  bottom: 0;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  color: #fff;
}

.index {
  grid-template: auto/auto auto;
  grid-template-areas: "img txt";
  place-items: center center;
}
.index_img {
  grid-area: img;
  height: auto;
  width: 100%;
  max-height: 443px;
  max-width: 749px;
}
.index_txt {
  grid-area: txt;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  max-width: 30rem;
  padding-right: 2.5%;
}
.index_txt p {
  font-size: 1.25rem;
}

.about {
  grid-template: "txt img" auto "vid vid" auto "extra extra" auto/auto auto;
  place-items: start center;
}
.about h1 {
  font-size: 3.75rem;
  font-weight: 900;
  padding-bottom: 2rem;
}
.about h2, .about p {
  padding: 0 0 1rem 0;
}
.about h2 {
  font-size: 2.25rem;
}
.about ol, .about li {
  padding-bottom: 0.5rem;
}
.about p, .about li {
  font-size: 1.25rem;
}
.about li {
  list-style: inside decimal;
}
.about_txt {
  grid-area: txt;
  justify-self: end;
  max-width: 60rem;
  padding-left: 4rem;
}
.about_img {
  grid-area: img;
  place-self: end start;
  max-height: 410px;
  max-width: 575px;
}
.about_vid {
  grid-area: vid;
  margin: 2rem 0 2rem 0;
}
.about_extra {
  grid-area: extra;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
  padding: 0 4rem 0 4rem;
  text-align: center;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drop {
  0% {
    height: 0;
  }
  100% {
    height: calc(100% - 4rem);
  }
}
@media (max-width: 916px) {
  header {
    padding: 0;
  }
  header .nav_logo {
    padding: 0;
  }
  header .nav_menu {
    visibility: hidden;
    position: fixed;
    top: -50%;
  }
  header .nav_hamburger {
    visibility: visible;
    position: initial;
  }

  main {
    padding: 0;
  }

  .txt {
    padding: 0 5% 0 2.5%;
  }

  .index {
    grid-template: "img" auto "txt" auto/auto;
  }
  .index_txt {
    justify-content: start;
    padding-left: 2.5%;
  }

  .about {
    grid-template: "img" auto "txt" auto "vid" auto "extra" auto/auto;
  }
  .about_img {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
